<html lang="en">

<%- include('../incluciones/header')-%>
    <%- include('../incluciones/head')-%>


        <body>
            <h1>Listado de Generos</h1>
            <% for(genre of genres) {%>
                <li><a href="/movies/movies_by_genre/<%=genre.id%>">
                        <%=genre.name%>
                    </a></li>
                <% } %>
                    <hr>

        </body>
        <%- include('../incluciones/footer')-%>

</html>