<!DOCTYPE html>
<html lang="en">
    <%- include('../movies/header')-%>

<body>
    <h3><%= actor.first_name %> <%= actor.last_name %></h3>
    <ul>
        <li>Rating: <%=actor.rating%></li>
        <li>Favorite Movie : <%=actor.favorite_movie_id%></li>
       
    </ul>
    <hr>
    <a href="/movies">Back to list</a>
</body>
<%- include('../movies/footer')-%>
</html>