<html lang="en">
<%- include('../incluciones/header')-%>
    <%- include('../incluciones/head')-%>

        <body>

            <ul>
                <li>Nombre: <%=actor.first_name %>
                </li>
                <li>Apellido: <%= actor.last_name %>
                </li>
                <li>Rating: <%=actor.rating%>
                </li>
                <li>Favorite Movie: <%=actor.favorite_movie_id%>
                </li>

            </ul>
            <hr>
            <a href="/movies">Back to list</a>
        </body>

        <%- include('../incluciones/footer')-%>

</html>