<html>
    <%- include('../incluciones/head')-%>
<%- include('../incluciones/header')-%>
   


        <body>
            <h1>Listado de peliculas:</h1>



            <% for(movie of movies) { %>
                <li><a href="/movies/detail/<%=movie.id%>">

                        <% if (movie.genre) { %>
                            <%=movie.title%> - <%=movie.genre.name %>
                                    <% } %>

                    </a>
                </li>
                <% } %>


                    <hr>
                    <a href="/movies/create">Crear una nueva Peli</a>
        </body>

        <%- include('../incluciones/footer')-%>

</html>