<html lang="en">
<%- include('../incluciones/header')-%>
    <%- include('../incluciones/head')-%>


        <body>
            <h1>Listado de peliculas TOP 10</h1>
            <% for(movie of movies) {%>
                <li><a href="/movies/detail/<%=movie.id%>">
                        <%=movie.title%>
                    </a></li>
                <% } %>
                    <hr>
                    <a href="/movies/create">Crear una nueva Peli</a>
        </body>

        <%- include('../incluciones/footer')-%>

</html>